<!-- Ideas Handlebar Template -->
<table class="ideaTable">
{{#each idea}}
<tr>
	<td>{{id}}</td>
	<td>{{name}}</td>
	<td>{{tech}}</td>
	<td>{{description}}</td>
	<td>{{difficultyLevel}}</td>
	</tr>
{{/each}}
</table>
