<!-- Project Handlebars Template -->
<table class="projectTable">
{{#each project}}
<tr>
	<td>{{id}}</td>
	<td>{{name}}</td>
	<td>{{team}}</td>
	<td>{{timeFrame}}</td>
	<td>{{githubLink}}</td>
	<td><i class="material-icons large completed-btn">done</i></td>
	</tr>
{{/each}}
</table>